
html
{
    overflow-y: scroll;
}

body
{
    font-family: Open Sans;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}
a:focus, a:hover
{
    outline: 0;
    text-decoration: none;
}

.margin-top
{
    margin-top: 10px;
}

.mob
{
    display: none;
}

/* ============================================================================ NAVIGATION */
#navbar
{
    font-weight: 400;
    background-color: rgba(29, 29, 29, 0.8);
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav-container
{
    background-color: #fff;
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}

#nav-title-container
{
    float: left;
    display: table;
}

#nav-logo
{
    vertical-align: middle;
    height: 43px;
    margin-right: 10px;
    display: table-cell;
}

#nav-title
{
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
}

#tab-container
{
    float: right;
}

#tab-container .glyphicon-user
{
    color: #fff;
    margin-left: 15px;
}

.tab
{
    font-size: 16px;
    color: #fff;
    margin: 0 15px;
    padding: 10px 0;
    display: inline-block;
}
.tab:focus, .tab:hover
{
    color: #fff;
}

.tab.active, #tabs-dropdown > a.active
{
    color: #ace;
}

#tabs-dropdown
{
    background-color: rgba(29, 29, 29, 0.8);
    position: fixed;
    top: 63px;
    left: 0;
    right: 0;
    display: none;
}
#tabs-dropdown > a
{
    color: #fff;
    padding: 14px 30px;
    display: block;
}

.tab-divider
{
    border-left: 1px solid #777;
}

#slider
{
    background-color: #69B;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

/* ============================================================================ CONTENT */
#content
{
    max-width: 960px;
    margin: 100px auto; /* margin for navbar */
    padding: 0 10px;
}

.heading
{
    font-size: 24px;
    font-weight: 400;
    color: #636363;
    margin-bottom: 20px;
}

.text
{
    font-size: 16px;
    font-weight: 300;
    color: #636363;
    margin-top: 20px;
}

.hover-button-container
{
    background-image: url("../images/image1.jpg");
    background-size: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
}

.hover-button
{
    background-color: rgba(151, 151, 255, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 250px;
    height: 300px;
    margin: auto;
    display: inline-block;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.hover-button:hover
{
    opacity: 1;
}

/* ============================================================================ FOOTER */
footer
{
    font-weight: 300;
    color: #888;
    border-top: 1px solid #ccc;
    max-width: 960px;
    margin: auto;
    padding: 20px 10px;
}

/* ============================================================================ BOOSTING */
.rank-select-heading
{
    font-size: 32px;
    font-weight: 600;
    color: #2B6B84;
    margin-bottom: 20px;
}

#boosting-select-container
{
    text-align: center;
}

.rank-select-container, .region-select-container
{
    text-align: center;
    vertical-align: top;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}

.dropdown-menu
{
    width: 100%;
}

/* ============================================================================ CONTACT */
#login-container
{
    max-width: 400px;
    margin: auto;
}
