
.no-mob
{
    display: none;
}
.mob
{
    display: block;
}

/* ============================================================================ NAVIGATION */
#nav-container
{
    max-width: none;
    padding: 0 10px;
}

#nav-menu
{
    height: 43px;
    float: right;
}
